body {
    background-image: url("imgs/bckgnd.jpg");
    background-size: cover;
    font-family: 'Hanalei', cursive;
}
    header h1{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 9px;
        color: rgb(65, 15, 15);
        background-color: rgba(66, 7, 7, 0.596);
        border-radius: 4px;
        text-shadow: 2px 2px 2px rgb(240, 240, 125);
    }

    main {
        width: 72%;
        padding-top: 3%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        div.rows {
            display: flex;
            justify-content: center;
        }
             
             div.cell {
                width: 45px;
                height: 45px;
            }

                div.start {
                    background-image: url('imgs/gaúcho.png');
                    animation-duration: 100ms;
                }

                div.finish {
                    background-image: url('imgs/chimas.png');
                    background-color: rgba(255, 255, 255, 0.507);
                    background-size: cover;
                }

                div.parede {
                    background-color: rgba(70, 32, 23, 0.884);
                    
                }

                div.caminho {
                    background-color: rgba(255, 255, 255, 0.507);
                }

    .chegada {
        background-image: url('imgs/backFinish.jpg');
        background-size: cover;
        opacity: 0.9;
        border-radius: 12px;
        margin-top: 4%;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .gif {
            height: 54vh;
            border-radius: 18%;
        }
